<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Email:</b>
  <%= @post.email %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<h2>Comments</h2>
<%= form_tag destroy_multiple_posts_path, method: :delete do %>
<%= render @post.comments %>
<%= submit_tag "Delete selected" %>
<% end %>

<% if @post.closed %>
	<h2>Post is closed</h2>
<% else %>
	<h2>Add a comment:</h2>
	<%= render "comments/form" %>
<% end %>
<br />

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Close', close_post_path, :method => :put%>
